@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Bakbak+One&family=Bebas+Neue&display=swap');

@font-face { font-family: "Ionicons"; src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background: #fff;
  transition: all ease .5s;
  color: #000;
}
p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.7em;
}
h1{
  font-family: 'Bakbak One', cursive;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}
h4{
  font-family: 'Bakbak One', cursive;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 3px #000000;
}
input,input:focus,button, button:focus{
  outline: none;
  box-shadow: none!important;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
  box-shadow: none!important;
}
.ratio-9x16 {
  --aspect-ratio: calc(16 / 9 * 100%);
}
.btn-danger {
  color: #fff;
  background-color: #fd0300;
  border-color: #fd0300;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c70603;
  border-color: #c70603;
}
.w-10{
  width: 10%;
}
.pricing-h3{
  font-weight: 800;
  color: #ff2e00;
}
.expander {
  position: relative;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}
.expander.expanded {
  max-height: 10000px;
}

.expander:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(#F9FBFB00 50%, #ffffff);
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}
.expander.expanded:before {
  opacity: 0;
}
.expand-toggle{
  padding: 0;
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #999;
}

@media only screen and (min-width: 480px){
  .expander {
    max-height: 96px;
  }
}
@media only screen and (min-width: 720px){
  .expander {
    max-height: 100px;
  }
}
.navbar-expand-lg{
  overflow: hidden;
}
.navbar.sticky-top{
  background-color: #ffe400 !important;
}
.navbar.sticky-top #navbarNav::before{
  background: transparent;
}
.navbar.fixed-top.scrolled {
  background-color: #ffe400 !important;
  transition: background-color 200ms linear;
}
.navbar.fixed-top.scrolled #navbarNav::before{
  background: transparent;
}
#navbarNav::before {
  content: '';
  position: absolute;
  top: 0; 
  right: -50px; 
  bottom: 0; 
  width: 100%;
  height: 60px;
  margin: auto;
  z-index: -1;
  /*background: #fff;*/
  transform: skew(-20deg);
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.nav-link {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-shadow: 0px 0px 1px #ffffff;
}

.heading-hero{
  font-family: 'Bakbak One', cursive;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-shadow: 1px 1px 0px #ffffff;
  font-weight: bold;
  padding: 120px;
  right: 0;
  top: 0;
  height: 100%;
  text-align: right;
}
.heading-hero h2{
  font-size: 80px;
  text-shadow: 
    1px 0px 1px #fff9f9, 0px 1px 1px #feb500, 
    2px 1px 1px #fff9f9, 1px 2px 1px #feb500,
    3px 2px 1px #fff9f9, 2px 3px 1px #feb500,
    4px 3px 1px #fff9f9, 3px 4px 1px #feb500,
    5px 4px 1px #fff9f9, 4px 5px 1px #feb500,
    6px 5px 1px #fff9f9, 5px 6px 1px #feb500,
    7px 6px 1px #fff9f9;
}
.heading-hero h5{
  font-size: 40px;
}
.heading-hero h6{
  font-size: 28px;
}

.bg-content{
  background: url('../img/pattern-2.png') center center;
}

.bg-black {
    background-color: #0c0c0c!important;
    color: #fff;
}

.section-content{
  padding: 60px 0;
}

.section-title{
  font-family: 'Bakbak One', cursive;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
  letter-spacing: 2px;
}
.object-cover{
  object-fit: cover;
}
.card-title{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.bebas-title{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}
.section-playlist .banner-playlist{
  transition: all ease .5s;
}
.section-playlist .banner-playlist:hover{
  transform: scale(1.03);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
}
.section-talents{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
.section-contact{
  text-align: center;
}
.section-contact h2{
  font-size: 60px;
  font-weight: 800;
}
.section-product .card{
  transition: all ease .5s;
}
.section-product .card:hover{
  transform: scale(1.03);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
}
.section-product .card:hover h5{
  color: #ff2e00;
}
.product-thumb .prev-arrow ion-icon, .product-thumb .next-arrow ion-icon {
  font-size: 18px;
  --ionicon-stroke-width: 18px;
}
.product-thumb .prev-arrow {
  left: 0px;
}
.product-thumb .next-arrow {
  right: 0px;
}
.product-thumb .prev-arrow, .product-thumb .next-arrow{
  transform: translateY(-20px);
}
.product-thumb .slick-current{
  -webkit-box-shadow: 0px 0px 0px 1px #ff2e00;
  -moz-box-shadow: 0px 0px 0px 1px #ff2e00;
  box-shadow: 0px 0px 0px 1px #ff2e00;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #ffe400;
}
@media (max-width: 767px){
  .navbar-brand img{
    width: 150px;
  }
  .section-title{
    font-size: 24px;
  }
  .navbar.fixed-top{
    position: -webkit-sticky;
    position: sticky;
  }
  .heading-hero{
    padding: 20px;
  }
  .heading-hero h5 {
    font-size: 18px;
  }
  .heading-hero h4 {
    font-size: 16px;
  }
  .heading-hero h2 {
    font-size: 30px;
  }
  .heading-hero h6 {
    font-size: 16px;
  }
  .section-playlist .p-4{
    padding: 10px!important;
  }
  .section-playlist h4{
    font-size: 12px;
  }
  .section-talents{
    font-size: 12px;
  }
  .section-talents .row{
    align-items: flex-start!important;
  }
  .section-contact h2 {
    font-size: 40px;
  }
  .section-product h1{
    font-size: 36px;
  }
  footer .justify-content-center{
    justify-content: flex-start!important;
  }
}

/* ---------------------------------------------------
    SLIDER STYLE
----------------------------------------------------- */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

.prev-arrow,
.next-arrow
{
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-33px);
  border: none;
  background: rgb(0 0 0 / 50%);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  z-index: 1;
}
.prev-arrow ion-icon,
.next-arrow ion-icon{
    font-size: 50px;
    --ionicon-stroke-width: 50px;
}
.prev-arrow[aria-disabled="true"], .next-arrow[aria-disabled="true"]{
    opacity: .25;
}
.prev-arrow{
    left: 25px;
}
.next-arrow{
    right: 25px;
}

/* Dots */
.slick-dotted.slick-slider
{
    
}

.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
@media (max-width: 767px){
    .slick-dots{
        bottom: 0;
    }
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 24px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .5;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}








